# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Мария Варджиева\Documents\4 КУРС\СЪВРЕМЕННИ JAVA ТЕХНОЛОГИИ\ПРОЕКТ\password-vault\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
